parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method getValue\(\) on ReflectionProperty\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Auditor/Auditor.php

		-
			message: '#^Strict comparison using \=\=\= between array\{\} and non\-empty\-list\<Doctrine\\DBAL\\Schema\\Column\> will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/EventSubscriber/DoctrineSchemaListener.php

		-
			message: '#^Method PrecisionSoft\\Doctrine\\Audit\\Type\\AuditOperationType\:\:getValues\(\) should return array\<int, UnitEnum\> but returns array\<string\>\.$#'
			identifier: return.type
			count: 1
			path: src/Type/AuditOperationType.php

		-
			message: '#^Call to an undefined method Doctrine\\ORM\\EntityManagerInterface\|Mockery\\MockInterface\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 31
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to an undefined method Doctrine\\ORM\\UnitOfWork\|Mockery\\MockInterface\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 66
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:andReturn\(\)\.$#'
			identifier: method.notFound
			count: 45
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:andReturnUsing\(\)\.$#'
			identifier: method.notFound
			count: 11
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:andThrow\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 77
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:with\(\)\.$#'
			identifier: method.notFound
			count: 34
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to an undefined method Mockery\\MockInterface\|PrecisionSoft\\Doctrine\\Audit\\Contract\\AnnotationReadServiceInterface\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 15
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to an undefined method Mockery\\MockInterface\|PrecisionSoft\\Doctrine\\Audit\\Contract\\StorageInterface\:\:shouldNotReceive\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to an undefined method Mockery\\MockInterface\|PrecisionSoft\\Doctrine\\Audit\\Contract\\StorageInterface\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 7
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to an undefined method Mockery\\MockInterface\|PrecisionSoft\\Doctrine\\Audit\\Contract\\TransactionProviderInterface\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 7
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to an undefined method Mockery\\MockInterface\|Psr\\Log\\LoggerInterface\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with true and true will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 8
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Parameter \#1 \$eventArgs of method PrecisionSoft\\Doctrine\\Audit\\Auditor\\Auditor\:\:onFlush\(\) expects Doctrine\\ORM\\Event\\OnFlushEventArgs, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 16
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Parameter \#1 \$eventArgs of method PrecisionSoft\\Doctrine\\Audit\\Auditor\\Auditor\:\:postFlush\(\) expects Doctrine\\ORM\\Event\\PostFlushEventArgs, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 11
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Parameter \#1 \$logger of method PrecisionSoft\\Doctrine\\Audit\\Test\\Auditor\\AuditorTest\:\:createAuditor\(\) expects Psr\\Log\\LoggerInterface\|string\|null, Mockery\\MockInterface\|Psr\\Log\\LoggerInterface given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Parameter \#2 \$entityManager of class PrecisionSoft\\Doctrine\\Audit\\Auditor\\Auditor constructor expects Doctrine\\ORM\\EntityManagerInterface, Doctrine\\ORM\\EntityManagerInterface\|Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Parameter \#3 \$storages of class PrecisionSoft\\Doctrine\\Audit\\Auditor\\Auditor constructor expects array\<PrecisionSoft\\Doctrine\\Audit\\Contract\\StorageInterface\>, array\<int, Mockery\\MockInterface\|PrecisionSoft\\Doctrine\\Audit\\Contract\\StorageInterface\> given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Parameter \#4 \$transactionProvider of class PrecisionSoft\\Doctrine\\Audit\\Auditor\\Auditor constructor expects PrecisionSoft\\Doctrine\\Audit\\Contract\\TransactionProviderInterface, Mockery\\MockInterface\|PrecisionSoft\\Doctrine\\Audit\\Contract\\TransactionProviderInterface given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Parameter \#5 \$logger of class PrecisionSoft\\Doctrine\\Audit\\Auditor\\Auditor constructor expects Psr\\Log\\LoggerInterface\|null, Mockery\\MockInterface\|Psr\\Log\\LoggerInterface given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Parameter \#5 \$logger of class PrecisionSoft\\Doctrine\\Audit\\Auditor\\Auditor constructor expects Psr\\Log\\LoggerInterface\|null, Mockery\\MockInterface\|Psr\\Log\\LoggerInterface\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Parameter \#6 \$annotationReadService of class PrecisionSoft\\Doctrine\\Audit\\Auditor\\Auditor constructor expects PrecisionSoft\\Doctrine\\Audit\\Contract\\AnnotationReadServiceInterface, Mockery\\MockInterface\|PrecisionSoft\\Doctrine\\Audit\\Contract\\AnnotationReadServiceInterface given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Auditor/AuditorTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<string\> will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Auditor/ConfigurationTest.php

		-
			message: '#^Call to an undefined method Doctrine\\ORM\\Tools\\SchemaTool\|Mockery\\MockInterface\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Command/DoctrineSchema/CreateCommandTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Command/DoctrineSchema/CreateCommandTest.php

		-
			message: '#^Parameter \#2 \$sourceEntityManager of class PrecisionSoft\\Doctrine\\Audit\\Command\\DoctrineSchema\\CreateCommand constructor expects Doctrine\\ORM\\EntityManagerInterface, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Command/DoctrineSchema/CreateCommandTest.php

		-
			message: '#^Parameter \#3 \$destinationEntityManager of class PrecisionSoft\\Doctrine\\Audit\\Command\\DoctrineSchema\\CreateCommand constructor expects Doctrine\\ORM\\EntityManagerInterface, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Command/DoctrineSchema/CreateCommandTest.php

		-
			message: '#^Parameter \#4 \$annotationReadService of class PrecisionSoft\\Doctrine\\Audit\\Command\\DoctrineSchema\\CreateCommand constructor expects PrecisionSoft\\Doctrine\\Audit\\Contract\\AnnotationReadServiceInterface, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Command/DoctrineSchema/CreateCommandTest.php

		-
			message: '#^Call to an undefined method Doctrine\\ORM\\Tools\\SchemaTool\|Mockery\\MockInterface\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Command/DoctrineSchema/UpdateCommandTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Command/DoctrineSchema/UpdateCommandTest.php

		-
			message: '#^Parameter \#2 \$sourceEntityManager of class PrecisionSoft\\Doctrine\\Audit\\Command\\DoctrineSchema\\UpdateCommand constructor expects Doctrine\\ORM\\EntityManagerInterface, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Command/DoctrineSchema/UpdateCommandTest.php

		-
			message: '#^Parameter \#3 \$destinationEntityManager of class PrecisionSoft\\Doctrine\\Audit\\Command\\DoctrineSchema\\UpdateCommand constructor expects Doctrine\\ORM\\EntityManagerInterface, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Command/DoctrineSchema/UpdateCommandTest.php

		-
			message: '#^Parameter \#4 \$annotationReadService of class PrecisionSoft\\Doctrine\\Audit\\Command\\DoctrineSchema\\UpdateCommand constructor expects PrecisionSoft\\Doctrine\\Audit\\Contract\\AnnotationReadServiceInterface, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Command/DoctrineSchema/UpdateCommandTest.php

		-
			message: '#^Method PrecisionSoft\\Doctrine\\Audit\\Test\\DependencyInjection\\PrecisionSoftDoctrineAuditExtensionTest\:\:buildContainer\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/DependencyInjection/PrecisionSoftDoctrineAuditExtensionTest.php

		-
			message: '#^Method PrecisionSoft\\Doctrine\\Audit\\Test\\DependencyInjection\\PrecisionSoftDoctrineAuditExtensionTest\:\:validAuditorConfig\(\) has parameter \$storageNames with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/DependencyInjection/PrecisionSoftDoctrineAuditExtensionTest.php

		-
			message: '#^Method PrecisionSoft\\Doctrine\\Audit\\Test\\DependencyInjection\\PrecisionSoftDoctrineAuditExtensionTest\:\:validAuditorConfig\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/DependencyInjection/PrecisionSoftDoctrineAuditExtensionTest.php

		-
			message: '#^Method PrecisionSoft\\Doctrine\\Audit\\Test\\DependencyInjection\\PrecisionSoftDoctrineAuditExtensionTest\:\:validCustomStorageConfig\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/DependencyInjection/PrecisionSoftDoctrineAuditExtensionTest.php

		-
			message: '#^Method PrecisionSoft\\Doctrine\\Audit\\Test\\DependencyInjection\\PrecisionSoftDoctrineAuditExtensionTest\:\:validDoctrineStorageConfig\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/DependencyInjection/PrecisionSoftDoctrineAuditExtensionTest.php

		-
			message: '#^Method PrecisionSoft\\Doctrine\\Audit\\Test\\DependencyInjection\\PrecisionSoftDoctrineAuditExtensionTest\:\:validFileStorageConfig\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/DependencyInjection/PrecisionSoftDoctrineAuditExtensionTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<string\> will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Dto/Annotation/EntityDtoTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Dto/Annotation/EntityDtoTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:andReturn\(\)\.$#'
			identifier: method.notFound
			count: 16
			path: tests/EventSubscriber/DoctrineSchemaListenerTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:andThrow\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/EventSubscriber/DoctrineSchemaListenerTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 18
			path: tests/EventSubscriber/DoctrineSchemaListenerTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:with\(\)\.$#'
			identifier: method.notFound
			count: 23
			path: tests/EventSubscriber/DoctrineSchemaListenerTest.php

		-
			message: '#^Call to an undefined method Mockery\\MockInterface\|PrecisionSoft\\Doctrine\\Audit\\Contract\\AnnotationReadServiceInterface\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/EventSubscriber/DoctrineSchemaListenerTest.php

		-
			message: '#^Parameter \#1 \$annotationReadService of class PrecisionSoft\\Doctrine\\Audit\\EventSubscriber\\DoctrineSchemaListener constructor expects PrecisionSoft\\Doctrine\\Audit\\Contract\\AnnotationReadServiceInterface, Mockery\\MockInterface\|PrecisionSoft\\Doctrine\\Audit\\Contract\\AnnotationReadServiceInterface given\.$#'
			identifier: argument.type
			count: 1
			path: tests/EventSubscriber/DoctrineSchemaListenerTest.php

		-
			message: '#^Parameter \#1 \$eventArgs of method PrecisionSoft\\Doctrine\\Audit\\EventSubscriber\\DoctrineSchemaListener\:\:postGenerateSchema\(\) expects Doctrine\\ORM\\Tools\\Event\\GenerateSchemaEventArgs, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 4
			path: tests/EventSubscriber/DoctrineSchemaListenerTest.php

		-
			message: '#^Parameter \#1 \$eventArgs of method PrecisionSoft\\Doctrine\\Audit\\EventSubscriber\\DoctrineSchemaListener\:\:postGenerateSchemaTable\(\) expects Doctrine\\ORM\\Tools\\Event\\GenerateSchemaTableEventArgs, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 3
			path: tests/EventSubscriber/DoctrineSchemaListenerTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 8
			path: tests/Service/AnnotationReadServiceTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<PrecisionSoft\\Doctrine\\Audit\\Dto\\Annotation\\EntityDto\> will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Service/AnnotationReadServiceTest.php

		-
			message: '#^Cannot call method getClass\(\) on PrecisionSoft\\Doctrine\\Audit\\Dto\\Annotation\\EntityDto\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Service/AnnotationReadServiceTest.php

		-
			message: '#^Cannot call method getIgnoredFields\(\) on PrecisionSoft\\Doctrine\\Audit\\Dto\\Annotation\\EntityDto\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Service/AnnotationReadServiceTest.php

		-
			message: '#^Parameter \#1 \$entityManager of method PrecisionSoft\\Doctrine\\Audit\\Service\\AnnotationReadService\:\:read\(\) expects Doctrine\\ORM\\EntityManagerInterface, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Service/AnnotationReadServiceTest.php

		-
			message: '#^Call to an undefined method Doctrine\\DBAL\\Connection\|Mockery\\MockInterface\:\:shouldNotReceive\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Storage/Doctrine/StorageTest.php

		-
			message: '#^Call to an undefined method Doctrine\\DBAL\\Connection\|Mockery\\MockInterface\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 19
			path: tests/Storage/Doctrine/StorageTest.php

		-
			message: '#^Call to an undefined method Doctrine\\DBAL\\Platforms\\AbstractPlatform\|Mockery\\MockInterface\:\:shouldReceive\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Storage/Doctrine/StorageTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:andReturn\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Storage/Doctrine/StorageTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:andReturnUsing\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Storage/Doctrine/StorageTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:byDefault\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Storage/Doctrine/StorageTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 19
			path: tests/Storage/Doctrine/StorageTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:twice\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Storage/Doctrine/StorageTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with true and true will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Storage/Doctrine/StorageTest.php

		-
			message: '#^Parameter \#1 \$entityManager of class PrecisionSoft\\Doctrine\\Audit\\Storage\\Doctrine\\Storage constructor expects Doctrine\\ORM\\EntityManagerInterface, Doctrine\\ORM\\EntityManagerInterface\|Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Storage/Doctrine/StorageTest.php

		-
			message: '#^Parameter \#1 \$logger of method PrecisionSoft\\Doctrine\\Audit\\Test\\Storage\\Doctrine\\StorageTest\:\:createStorage\(\) expects Psr\\Log\\LoggerInterface\|null, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Storage/Doctrine/StorageTest.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, string\|false given\.$#'
			identifier: argument.type
			count: 4
			path: tests/Storage/FileStorageTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:once\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Trait/ThrowTraitTest.php

		-
			message: '#^Call to an undefined method object\:\:doThrow\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Trait/ThrowTraitTest.php

		-
			message: '#^Method class@anonymous/tests/Trait/ThrowTraitTest\.php\:33\:\:doThrow\(\) has parameter \$logContext with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Trait/ThrowTraitTest.php

		-
			message: '#^Parameter \#1 \$logger of method PrecisionSoft\\Doctrine\\Audit\\Test\\Trait\\ThrowTraitTest\:\:createThrowableClass\(\) expects Psr\\Log\\LoggerInterface\|null, Mockery\\MockInterface given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Trait/ThrowTraitTest.php
